html {
  background-image: url('https://www.meme-arsenal.com/memes/8b6e5f69506120cbe2169e36efd10bb8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: rgb(128, 128, 128, 0.6);
}