html {
  /* background-image: url('https://www.meme-arsenal.com/memes/8b6e5f69506120cbe2169e36efd10bb8.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

header {
  text-align: center;
  background-color: rgb(248, 93, 27, 0.6);
}

footer {
  text-align: right;
  background-color: rgb(248, 93, 27, 0.6);
}

.homepage {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(248, 93, 27, 0.6);
}

.table {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 93, 27, 0.6);
}

.poster {
  height: 200px;
  width: auto;
}

th {
  padding: 10px;
  border: 1px black solid;
}

.nav {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

button {
  background-color: #E3B505;
}

.movieCard {
  display: flex;
  justify-content: center;
}

.card {
  align-content: center;
  text-align: center;
  margin-top: 2%;
  padding: 2%;
  width: 60rem;
  background-color: rgb(248, 93, 27, 0.6);
}

.edit {
  display: flex;
  justify-content: center;
}

.editForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  margin-top: 2%;
  padding: 2%;
  width: 60rem;
  background-color: rgb(248, 93, 27, 0.6);
}

label {
  padding: 5%
}

/* .left {
  display: flex;
  justify-content: left;
  margin-left: 10%
}

.right {
  display: flex;
  justify-content: right;
  margin-right: 10%
} */